<h1>Entourage</h1>
<p>This little app demonstrates how to use Rendr by consuming GitHub's public API.</p>
<p>Check out <a href='/users'>Users</a>.</p>
<p>
  <i><a href='https://github.com/rendrjs/rendr'>Rendr</a> is built by AirBnB</i>
</p>
