<!doctype html>
<html>

  <head>
    <meta charset='utf-8'/>
    <title>Entourage</title>
    <link href='/app.css' media='screen' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <div>
      <a href='/'>GitHub Browser</a>
    </div>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/repos'>Repos</a></li>
      <li><a href='/users'>Users</a></li>
    </ul>

    <section id='content' class='container'>
      {{{body}}}
    </section>

    <script src='/bundle.js'></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>
  </body>
</html>
