<!doctype html>
<html>
  <head>
    <title>The Road Show</title>
    <link rel='stylesheet' href='/app.css'></link>
  </head>
  <body>
    <h1>The Road Show</h1>

    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container'>
          <div class='navbar-header'>
            <a class='navbar-brand' href='/'>GitHub Browser</a>
          </div>
          <ul class='nav navbar-nav'>
            <li><a href='/'>Home</a></li>
            <li><a href='/repos'>Repos</a></li>
            <li><a href='/users'>Users</a></li>
          </ul>
          <div class='loading-indicator'>Loading&hellip;</div>
        </div>
    </div>

    <section id='content' class='container'>
      {{{body}}}
    </section>

    <script src='/bundle.js'></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
