body {
  font-family: 'Helvetica';
  background: #f7df1e;
  color: #222;
}

h1 {
  color: #16a085;
}

.items {
  list-style: none;
  background: rgba(255, 255, 255, 0.1);
}

.items li {
  padding: 5px 0;
}

fieldset {
  background: rgba(255, 255, 255, 0.1);
}

button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1);
}

label {
  width: 65px;
  display: inline-block;
  text-align: right;
}

p {
  margin: 7px 0;
}

a, button {
  color: #34495e;
  font-weight: bold;
}

button {
  border: none;
  padding: 2px 6px;
  cursor: pointer;
}

.buttons {
  text-align: right;
}

.cancel, .remove {
  color: #c0392b;
  font-weight: normal;
}

.edit-quantity {
  width: 50px;
}

input {
  background: #34495e;
  color: #fff;
  border: none;
  padding: 2px 6px;
}
