doctype html
html
    head
        title JavaScript Application Design: A Build First Approach

        if debug
            link(rel='stylesheet', href='../css/layout.css')
            link(rel='stylesheet', href='../css/home.css')
        else
            link(rel='stylesheet', href='../css/all.css')

    body
        h1
            a.link(href='http://bevacqua.io/buildfirst', target='_blank') JavaScript Application Design: A Build First Approach
        h3.italic Chapter 03, Sample 05

        article.sample-description
            :markdown
                # Investing in a better `watch`

                This sample builds up on [**ch03e04** Watch Task](https://github.com/buildfirst/buildfirst/tree/master/ch03/04_watch-task "Watch Task Example"), by breaking down `watch` into many targets, one for each build task that can be affected by file changes.

                If you run `grunt dev` this time, and then change some files, you'll see that `watch` will be smart enough about it to run only the build task(s) affected by the changed files, rather than the entire build process. This is the preferred approach because it saves time and gives you a finer-grained control, by avoiding to run tasks unnecessarily, when we know their output will stay the same.

                ```js
                grunt dev
                ```

                Then change a file, sit back, and enjoy.

                ![compiling.png][1]

                P.S: If the `Gruntfile.js`, or any build related files change, altering the process itself, then by all means, run a _full build_ again!

                  [1]: http://imgs.xkcd.com/comics/compiling.png "'Are you stealing those LCDs?' 'Yeah but I'm doing it while my code compiles.'"

        if debug
            script(src='../js/foo.js')
            script(src='../js/something.js')
            script(src='../js/something-else.js')
        else
            script(src='../js/all.min.js')
